In [1]:
import pandas as pd
from textblob import TextBlob as tb 
import matplotlib.pyplot as plt 
import nltk
import re

In [2]:
#give the csv path
df = pd.read_csv(r'C:\ClassesMSC\DataSets\tweets.csv')
df.shape

(25491, 12)

In [3]:
df = df.dropna(axis = 0, how ='any')
df.shape

(11639, 12)

In [4]:
df.head(5)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source
0,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,Apply today!:\nhttps://t.co/eCRVPFByiy\n\n#app...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.
1,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,Apply today!:\nhttps://t.co/eCRVPFByiy\n\n#app...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.
3,ANIL,"New Delhi, India, From Bihar.",New Delhi. Above politicos. An economist and I...,2010-04-17 16:58:14+00:00,81.0,287.0,4484,False,2022-12-17 14:04:44+00:00,@elonmusk sir has call me to work from office....,['TwitterLayoffs'],Twitter for Android
4,🇺🇸 My Head’s Exploding 🤯,leswarden@mastodon.world 👈,"A Proud Believer in Democracy, Our Constitutio...",2009-01-28 01:03:18+00:00,1044.0,777.0,3742,False,2022-12-16 19:47:58+00:00,Here’s what happens when you fire all your eng...,['TickTok'],Twitter for iPhone
6,BW Businessworld,New Delhi,BW Businessworld is India’s largest & most res...,2009-05-01 05:57:27+00:00,21539.0,437.0,5272,False,2022-12-16 07:58:00+00:00,#US Judge Asks @Twitter To Notify Thousands Of...,['US'],TweetDeck Web App

In [5]:
df.describe()

       user_followers   user_friends
count    1.163900e+04   11639.000000
mean     2.863277e+04    2111.880488
std      4.263492e+05    8513.050923
min      0.000000e+00       0.000000
25%      1.070000e+02     171.000000
50%      5.240000e+02     615.000000
75%      1.960000e+03    1729.500000
max      1.849241e+07  361327.000000

In [6]:
df['text'] = df['text'].str.lower()

In [7]:
def tokenize_text(text):
    tokens = nltk.word_tokenize(text)
    return tokens

In [8]:
df['tokenized_text'] = df['text'].apply(tokenize_text)

In [9]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,tokenized_text
0,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,apply today!:\nhttps://t.co/ecrvpfbyiy\n\n#app...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,"[apply, today, !, :, https, :, //t.co/ecrvpfby..."
1,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,apply today!:\nhttps://t.co/ecrvpfbyiy\n\n#app...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,"[apply, today, !, :, https, :, //t.co/ecrvpfby..."
3,ANIL,"New Delhi, India, From Bihar.",New Delhi. Above politicos. An economist and I...,2010-04-17 16:58:14+00:00,81.0,287.0,4484,False,2022-12-17 14:04:44+00:00,@elonmusk sir has call me to work from office....,['TwitterLayoffs'],Twitter for Android,"[@, elonmusk, sir, has, call, me, to, work, fr..."
4,🇺🇸 My Head’s Exploding 🤯,leswarden@mastodon.world 👈,"A Proud Believer in Democracy, Our Constitutio...",2009-01-28 01:03:18+00:00,1044.0,777.0,3742,False,2022-12-16 19:47:58+00:00,here’s what happens when you fire all your eng...,['TickTok'],Twitter for iPhone,"[here, ’, s, what, happens, when, you, fire, a..."
6,BW Businessworld,New Delhi,BW Businessworld is India’s largest & most res...,2009-05-01 05:57:27+00:00,21539.0,437.0,5272,False,2022-12-16 07:58:00+00:00,#us judge asks @twitter to notify thousands of...,['US'],TweetDeck Web App,"[#, us, judge, asks, @, twitter, to, notify, t..."

In [10]:
stop_words = set(nltk.corpus.stopwords.words('english'))

In [11]:
def remove_stopwords(text):
    tokens = nltk.word_tokenize(text)
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text

In [12]:
df['text'] = df['text'].apply(remove_stopwords)

In [13]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,tokenized_text
0,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,apply today ! : https : //t.co/ecrvpfbyiy # ap...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,"[apply, today, !, :, https, :, //t.co/ecrvpfby..."
1,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,apply today ! : https : //t.co/ecrvpfbyiy # ap...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,"[apply, today, !, :, https, :, //t.co/ecrvpfby..."
3,ANIL,"New Delhi, India, From Bihar.",New Delhi. Above politicos. An economist and I...,2010-04-17 16:58:14+00:00,81.0,287.0,4484,False,2022-12-17 14:04:44+00:00,@ elonmusk sir call work office . thinking res...,['TwitterLayoffs'],Twitter for Android,"[@, elonmusk, sir, has, call, me, to, work, fr..."
4,🇺🇸 My Head’s Exploding 🤯,leswarden@mastodon.world 👈,"A Proud Believer in Democracy, Our Constitutio...",2009-01-28 01:03:18+00:00,1044.0,777.0,3742,False,2022-12-16 19:47:58+00:00,’ happens fire engineers resort running things...,['TickTok'],Twitter for iPhone,"[here, ’, s, what, happens, when, you, fire, a..."
6,BW Businessworld,New Delhi,BW Businessworld is India’s largest & most res...,2009-05-01 05:57:27+00:00,21539.0,437.0,5272,False,2022-12-16 07:58:00+00:00,# us judge asks @ twitter notify thousands lai...,['US'],TweetDeck Web App,"[#, us, judge, asks, @, twitter, to, notify, t..."

In [14]:
# Stemming

In [15]:
from nltk.stem import PorterStemmer

In [16]:
stemmer = PorterStemmer()

In [17]:
def stem_text(text):
    tokens = nltk.word_tokenize(text)
    stemmed_tokens = [stemmer.stem(token) for token in tokens]
    stemmed_text = ' '.join(stemmed_tokens)
    return stemmed_text

In [18]:
df['text'] = df['text'].apply(stem_text)

In [19]:
# Lemmatizing

In [20]:
from nltk.stem import WordNetLemmatizer

In [21]:
lemmatizer = WordNetLemmatizer()

In [22]:
def lemmatize_text(text):
    tokens = nltk.word_tokenize(text)
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    lemmatized_text = ' '.join(lemmatized_tokens)
    return lemmatized_text

In [23]:
df['text'] = df['text'].apply(lemmatize_text)

In [24]:
# Removing special characters and numerical values

In [25]:
pattern = r'[^a-zA-Z\s]|\d+'

In [26]:
def remove_special_chars(text):
    cleaned_text = re.sub(pattern, '', text)
    return cleaned_text

In [27]:
df['text'] = df['text'].apply(remove_special_chars)

In [28]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,tokenized_text
0,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,"[apply, today, !, :, https, :, //t.co/ecrvpfby..."
1,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,"[apply, today, !, :, https, :, //t.co/ecrvpfby..."
3,ANIL,"New Delhi, India, From Bihar.",New Delhi. Above politicos. An economist and I...,2010-04-17 16:58:14+00:00,81.0,287.0,4484,False,2022-12-17 14:04:44+00:00,elonmusk sir call work offic think resign ...,['TwitterLayoffs'],Twitter for Android,"[@, elonmusk, sir, has, call, me, to, work, fr..."
4,🇺🇸 My Head’s Exploding 🤯,leswarden@mastodon.world 👈,"A Proud Believer in Democracy, Our Constitutio...",2009-01-28 01:03:18+00:00,1044.0,777.0,3742,False,2022-12-16 19:47:58+00:00,happen fire engin resort run thing ticktok ...,['TickTok'],Twitter for iPhone,"[here, ’, s, what, happens, when, you, fire, a..."
6,BW Businessworld,New Delhi,BW Businessworld is India’s largest & most res...,2009-05-01 05:57:27+00:00,21539.0,437.0,5272,False,2022-12-16 07:58:00+00:00,u judg ask twitter notifi thousand laid empl...,['US'],TweetDeck Web App,"[#, us, judge, asks, @, twitter, to, notify, t..."

In [29]:
# Part-of-speech tagging

In [30]:
def pos_tagging(text):
    tokens = nltk.word_tokenize(text)
    tagged_tokens = nltk.pos_tag(tokens)
    tagged_text = ' '.join([token[1] for token in tagged_tokens])
    return tagged_text

In [31]:
df['tokenized_text'] = df['text'].apply(pos_tagging)

In [32]:
df.head(5)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,tokenized_text
0,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN
1,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN
3,ANIL,"New Delhi, India, From Bihar.",New Delhi. Above politicos. An economist and I...,2010-04-17 16:58:14+00:00,81.0,287.0,4484,False,2022-12-17 14:04:44+00:00,elonmusk sir call work offic think resign ...,['TwitterLayoffs'],Twitter for Android,NN NN NN NN JJ VBP VB RP NN NN
4,🇺🇸 My Head’s Exploding 🤯,leswarden@mastodon.world 👈,"A Proud Believer in Democracy, Our Constitutio...",2009-01-28 01:03:18+00:00,1044.0,777.0,3742,False,2022-12-16 19:47:58+00:00,happen fire engin resort run thing ticktok ...,['TickTok'],Twitter for iPhone,VB NN NN NN VB NN NN NN NN NN NN
6,BW Businessworld,New Delhi,BW Businessworld is India’s largest & most res...,2009-05-01 05:57:27+00:00,21539.0,437.0,5272,False,2022-12-16 07:58:00+00:00,u judg ask twitter notifi thousand laid empl...,['US'],TweetDeck Web App,JJ NN NN NN NN NN VBD JJ NN NN VBP NN NN NN NN NN

In [42]:
df['tokenized_text']

0            NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN
1            NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN
3                           NN NN NN NN JJ VBP VB RP NN NN
4                         VB NN NN NN VB NN NN NN NN NN NN
6        JJ NN NN NN NN NN VBD JJ NN NN VBP NN NN NN NN NN
                               ...
25483                                       VB NN NN NN NN
25484     RB VBN NN NN CD NN NN NN NN NN NN NN NN RB JJ NN
25486                                    NN NN NN NN NN NN
25488    NN RB JJ JJ NN NN NN NN NN NN NN JJ NN NNS VBP...
25489        NN NN JJ NN JJS NN NN NN VBN NNS VBP NN NN NN
Name: tokenized_text, Length: 11639, dtype: object

In [34]:
polarity = []
subjectivity = []
text = []
NPN = []

for i in df['text']:
    blob1 = tb(i)
    out = blob1.sentiment
    polarity.append(out[0])
    subjectivity.append(out[1])
    text.append(i)
    if out[0] == 0:
        NPN.append("Neu")
    elif out[0] >0:
        NPN.append("Pos")
    else:
        NPN.append("Neg")

In [35]:
final =pd.merge(df,pd.DataFrame({"polarity" :polarity,
                                 "subjectivity": subjectivity,
                                 "text": text,
                                 "NPN_p":NPN}), on ="text",how = "inner")

final

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,tokenized_text,polarity,subjectivity,NPN_p
0,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN,0.000000,0.00,Neu
1,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2836.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN,0.000000,0.00,Neu
2,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN,0.000000,0.00,Neu
3,BestCompaniesAZ,Arizona,We validate and elevate the best companies to ...,2009-01-11 16:28:33+00:00,2835.0,2469.0,870,False,2022-12-20 18:00:48+00:00,appli today http tcoecrvpfbyiy appli hire...,"['apply', 'hiring', 'opentowork', 'techlayoffs...",Hootsuite Inc.,NN NN VBP NN NN NN NN NN NN NN NN NN IN NN NN,0.000000,0.00,Neu
4,ANIL,"New Delhi, India, From Bihar.",New Delhi. Above politicos. An economist and I...,2010-04-17 16:58:14+00:00,81.0,287.0,4484,False,2022-12-17 14:04:44+00:00,elonmusk sir call work offic think resign ...,['TwitterLayoffs'],Twitter for Android,NN NN NN NN JJ VBP VB RP NN NN,0.000000,0.00,Neu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11932,Bas Wijnhoven,"Rotterdam, Nederland",Editor BJS #UpperGIsurgery with interest in #o...,2013-02-28 19:40:13+00:00,730.0,251.0,143,False,2022-09-06 06:44:16+00:00,come solut schiphol http tcoubrfraw,['Schiphol'],Twitter for iPhone,VB NN NN NN NN,0.000000,0.00,Neu
11933,Bas Wijnhoven,"Rotterdam, Nederland",Editor BJS #UpperGIsurgery with interest in #o...,2013-02-28 19:40:13+00:00,730.0,251.0,143,False,2022-09-06 06:42:25+00:00,well done schiphol alteadi two hour line ...,['schiphol'],Twitter for iPhone,RB VBN NN NN CD NN NN NN NN NN NN NN NN RB JJ NN,0.000000,0.00,Neu
11934,Stijn de Vreede 🍿,Overal behalve Flevoland,Luchtvaart | Politiek Ramptoerist | Flevoland ...,2010-08-13 08:30:17+00:00,3676.0,1763.0,61301,False,2022-09-06 06:15:14+00:00,gate chang g schiphol http tcopatrkf,['Schiphol'],Twitter for iPhone,NN NN NN NN NN NN,0.000000,0.00,Neu
11935,Amsterdammer 🚜,"Zandvoort, Mokum","AJAX, Mokum, Buitenlandse politiek. Vanilla ni...",2019-04-22 08:28:36+00:00,318.0,476.0,32986,False,2022-09-06 05:24:41+00:00,schiphol still shit hole enorm creat problem ...,['Schiphol'],Twitter for iPhone,NN RB JJ JJ NN NN NN NN NN NN NN JJ NN NNS VBP...,-0.083333,0.75,Neg
11936,Mauricio Tremea Zaquia,"Amsterdam, Pays-Bas","Silly retweets, mostly. Mobile development lea...",2013-10-19 00:16:47+00:00,252.0,447.0,2495,False,2022-09-06 04:27:23+00:00,schiphol schiphol tuesday place biggest p...,['schiphol'],Twitter for iPhone,NN NN JJ NN JJS NN NN NN VBN NNS VBP NN NN NN,0.000000,0.00,Neu

In [36]:
final['NPN_p']

0        Neu
1        Neu
2        Neu
3        Neu
4        Neu
        ...
11932    Neu
11933    Neu
11934    Neu
11935    Neg
11936    Neu
Name: NPN_p, Length: 11937, dtype: object

In [37]:
output = final.groupby(final['NPN_p']).count()

In [38]:
type(output)

pandas.core.frame.DataFrame

In [39]:
v = output['text']

In [40]:
v

NPN_p
Neg    1804
Neu    6436
Pos    3697
Name: text, dtype: int64

In [41]:
final.to_csv('final.csv')